.dataTables_scrollBody::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.dataTables_scrollBody::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb
{
    background-color: #555;
}
body {
    overflow-x: hidden !important;
}

.dataTables_wrapper .dropdown dd,
.dataTables_wrapper .dropdown dt {
    margin: 0px;
    padding: 0px;
}

.dataTables_wrapper .dropdown ul {
    margin: -1px 0 0 0;
}

.dataTables_wrapper .dropdown dd {
    position: relative;
}

.dataTables_wrapper .dropdown a,
.dataTables_wrapper .dropdown a:visited {
    color: #fff;
    text-decoration: none;
    outline: none;
    font-size: 12px;
}

.dataTables_wrapper .dropdown dt a {
    background-color: #636363;
    display: block;
    overflow: hidden;
    border: 0;
    padding: 0.2rem;
}

.dataTables_wrapper .dropdown dt a span,
.dataTables_wrapper .multiSel span {
    cursor: pointer;
    padding: 0 3px 2px 0;
}

.dataTables_wrapper .dropdown dd ul {
    background-color: #636363;
    border: 0;
    color: #fff;
    display: none;
    left: 0px;
    padding: 2px 15px 2px 5px;
    position: absolute;
    top: 2px;
    /* width: 280px; */
    list-style: none;
    height: 20rem;
    overflow: auto;
    width: 100%;
}

.dataTables_wrapper .dropdown span.value {
    display: none;
}

.dataTables_wrapper .dropdown dd ul li a {
    padding: 5px;
    display: block;
}

.dataTables_wrapper .dropdown dd ul li a:hover {
    background-color: #fff;
}


.extendedTarget {
    color: #4a148c;
    font-weight: bold;
    font-size: 17px;
    animation: blinker 5s linear infinite;
}

.style-1::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar-thumb
{
    background-color: #555;
}

.badge  .bi{
    margin-right: .2rem;
}

.positive{
   color: green;
}

.negative{
    color: red;
}
.dataTables_length{
    width: unset !important;
}

.vix-lower line {
    stroke: green;
}

.vix-lower, .vix-upper,.vix-support,.vix-resistance {
    stroke: black;
}

.vix-upper line {
    stroke: red;
}

.vix-resistance line {
    stroke: #e73a3a;
}

.vix-support line {
    stroke: #61ea54;
}
#which-expiry{
    margin-left: 1rem;
    display: inline-block;
}

.previous-close-info{
    text-align: center;
    display: block;;
}

.market-start-here{
    font-size: 1rem;
}

.market-start-here line{
    stroke: #f50606;
}

table{
    font-size: .9rem !important;
}

.highlight-change-data{
    background: #e7d16c !important;
}
.dataTables_wrapper .dropdown{
    padding: 0 !important;
    height: 1.5rem !important;
    margin: 0 !important;
}

.dataTables_wrapper .dropdown a{
    height: 1.5rem !important;
}